{% extends "layouts/_popup.html" %}

{% block popupContent %}

<div class="popup__title">Catalog</div>

<div class="popup-catalogue">
	<div class="popup-catalogue__categories">
		<div class="popup-catalogue__categories-title">Categories</div>
		<div class="popup-catalogue__category-item">
			<div class="popup-catalogue__category-item-title">Category 1</div>
			<div class="popup-catalogue__category-item-icon">{{icon.i('duck')}}</div>
		</div>
		<div class="popup-catalogue__category-item">
			<div class="popup-catalogue__category-item-title">Category 2</div>
			<div class="popup-catalogue__category-item-icon">{{icon.i('duck')}}</div>
		</div>
		<div class="popup-catalogue__category-item">
			<div class="popup-catalogue__category-item-title">Category 3</div>
			<div class="popup-catalogue__category-item-icon">{{icon.i('duck')}}</div>
		</div>
		<div class="popup-catalogue__category-item">
			<div class="popup-catalogue__category-item-title">Brands</div>
			<div class="popup-catalogue__category-item-icon">{{icon.i('duck')}}</div>
		</div>
	</div>
	<div class="popup-catalogue__items">

		<div class="popup-catalogue__items-container">
			<div class="popup-catalogue__items-title">Items</div>

			<div class="popup-catalogue__item">
				<div class="popup-catalogue__title">title</div>
				<div class="popup-catalogue__icon">{{icon.i('duck')}}</div>
			</div>
			<div class="popup-catalogue__item">
				<div class="popup-catalogue__title">title</div>
				<div class="popup-catalogue__icon">{{icon.i('duck')}}</div>
			</div>
			<div class="popup-catalogue__item">
				<div class="popup-catalogue__title">title</div>
				<div class="popup-catalogue__icon">{{icon.i('duck')}}</div>
			</div>
			<div class="popup-catalogue__item">
				<div class="popup-catalogue__title">title</div>
				<div class="popup-catalogue__icon">{{icon.i('duck')}}</div>
			</div>
			<div class="popup-catalogue__item">
				<div class="popup-catalogue__title">title</div>
				<div class="popup-catalogue__icon">{{icon.i('duck')}}</div>
			</div>
			<div class="popup-catalogue__item">
				<div class="popup-catalogue__title">title</div>
				<div class="popup-catalogue__icon">{{icon.i('duck')}}</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
