.layout
	overflow: hidden
	position: relative
	display: flex
	width: 100vw
	height: 100vh
	// background-image: linear-gradient(to top, var(--color-mainGrad1) 0%, var(--color-mainGrad1) 1%, var(--color-mainGrad2) 100%);
	background-image: linear-gradient( 68deg,  var(--color-mainGrad1) 1%, var(--color-mainGrad2) 50%, var(--color-mainGrad3) 99% );

	&__sidebar
		z-index: 20
		width: 320px
		min-width: 320px
		max-width: 320px
		height: auto
		min-height: 100vh
		overflow-x: hidden
		overflow-y: auto
		position: relative
		background-color: var(--color-bg)
		box-shadow: rgba(#000, 0.2) 0px -2px 16px 0px
		&::-webkit-scrollbar
			background-color: transparent
			width: 10px
		&::-webkit-scrollbar-track
			background-color: transparent
		&::-webkit-scrollbar-thumb
			background-color: $accent
			background-image: $gradientB
			border-radius: 5px
		&::-webkit-scrollbar-track-piece
			background-color: transparent
		&:after
			content: ""
			+coverdiv
			+better-blur(10)
			pointer-events: none

	&__content
		width: 100%
		overflow-x: hidden
		overflow-y: auto
		// background-color: var(--color-white)
		position: relative
		color: var(--color-text)

	&__content-container
		display: flex
		flex-wrap: wrap
		padding: 20px 0

	&__content-header
		width: 100%
		min-height: 200px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		margin: 0 20px 20px
		border: 1px solid var(--color-border)

	&__content-title
		font-size:  34px
		line-height: 34px
		font-family: $fa
		font-weight: 700
		margin-bottom: 20px

	&__breadcrumbs
