---
title: Lorem ipsum dolor sit amet, consectetur adipisicing elit.
---
{% extends "layouts/_layout.html" %}

{% block content %}


<div class="layout__content-container">
	<div class="layout__content-header">
		<div class="layout__content-title">{{ title }}</div>
		<div class="layout__breadcrumbs breadcrumbs">
			<a href="/home.html">Home</a>
			<span> {{ title }}</span>
		</div>
	</div>

	<div class="blog-view">
		<div class="blog-view__container">

			<div class="blog-view__hero">
				<div class="blog-view__hero-img">
					<img class="blog-view__img" src="./img/space.jpg"></img>
				</div>
				<div class="blog-view__hero-box">
					<div class="blog-view__hero-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>

					<div class="blog-view__author-container">
						<div class="blog-view__author-avatar">
							<img src="./img/logo.svg" alt="" class="blog-view__author-avatar-img" />
						</div>
						<div class="blog-view__author-box">
							<div class="blog-view__author-text">Author</div>
							<div class="blog-view__author-name">Nevejestvo</div>
						</div>

						<div class="blog-view__author-box">
							<div class="blog-view__hero-item">
								<div class="blog-view__info-icon">{{icon.i('cart')}}</div>
								<div class="blog-view__info-text">Comments: 5</div>
							</div>
							<div class="blog-view__hero-item">
								<div class="blog-view__info-icon">{{icon.i('cart')}}</div>
								<div class="blog-view__info-text">Date: 25.01.2005</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="blog-view__content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vel voluptatum saepe a in asperiores accusamus numquam rem nulla, quas perferendis culpa ratione et illo maxime voluptatibus fugiat unde non, ea cum quos esse at. Impedit provident reiciendis quisquam quam.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vel voluptatum saepe a in asperiores accusamus numquam rem nulla, quas perferendis culpa ratione et illo maxime voluptatibus fugiat unde non, ea cum quos esse at. Impedit provident reiciendis quisquam quam.</p>
				<img src="./img/space.jpg" alt="" />
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, earum molestiae maiores, sed impedit magnam, autem neque vero sit aut tenetur cum. Obcaecati sit natus rerum eos possimus dolores accusamus dolor! Officia perferendis recusandae molestiae eum quis sequi vitae eos.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, earum molestiae maiores, sed impedit magnam, autem neque vero sit aut tenetur cum. Obcaecati sit natus rerum eos possimus dolores accusamus dolor! Officia perferendis recusandae molestiae eum quis sequi vitae eos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, earum molestiae maiores, sed impedit magnam, autem neque vero sit aut tenetur cum. Obcaecati sit natus rerum eos possimus dolores accusamus dolor! Officia perferendis recusandae molestiae eum quis sequi vitae eos.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, earum molestiae maiores, sed impedit magnam, autem neque vero sit aut tenetur cum. Obcaecati sit natus rerum eos possimus dolores accusamus dolor! Officia perferendis recusandae molestiae eum quis sequi vitae eos.</p>
			</div>

			<div class="blog-view__comments">

				<div class="comments">
					<div class="comments__head">
						<div class="comments__title">Comments<span class="comments__title-counter">4</span></div>
					</div>
					<div class="comments__item-container">
						<div class="comments__item">
							<div class="comments__avatar"></div>
							<div class="comments__item-box">
								<div class="comments__name-box">
									<div class="comments__name">Nevejestvo</div>
									<div class="comments__date">22.02.2099</div>
								</div>
								<div class="comments__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro mollitia eligendi magni molestias sapiente ratione nulla aperiam!</div>
								<div class="comments__actions">
									<div class="comments__action comments__action--like">
										{{icon.i('like')}}
										<div class="comments__action-number">23</div>
									</div>
									<div class="comments__action comments__action--dislike">
										{{icon.i('like')}}
										<div class="comments__action-number">32</div>
									</div>
								</div>
							</div>
						</div>
						<div class="comments__item comments__item--responce">
							<div class="comments__avatar"></div>
							<div class="comments__item-box">
								<div class="comments__name-box">
									<div class="comments__name">Nevejestvo</div>
									<div class="comments__date">22.02.2100</div>
								</div>
								<div class="comments__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil repellat sit enim voluptas ad id ut nemo similique nobis minus autem impedit praesentium sequi explicabo ipsam, ea pariatur esse, eaque!</div>
								<div class="comments__actions">
									<div class="comments__action comments__action--like">
										{{icon.i('like')}}
										<div class="comments__action-number">23</div>
									</div>
									<div class="comments__action comments__action--dislike">
										{{icon.i('like')}}
										<div class="comments__action-number">32</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="comments__item-container">
						<div class="comments__item">
							<div class="comments__avatar"></div>
							<div class="comments__item-box">
								<div class="comments__name-box">
									<div class="comments__name">Nevejestvo</div>
									<div class="comments__date">22.02.2099</div>
								</div>
								<div class="comments__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro mollitia eligendi magni molestias sapiente ratione nulla aperiam!</div>
								<div class="comments__actions">
									<div class="comments__action comments__action--like">
										{{icon.i('like')}}
										<div class="comments__action-number">23</div>
									</div>
									<div class="comments__action comments__action--dislike">
										{{icon.i('like')}}
										<div class="comments__action-number">32</div>
									</div>
								</div>
							</div>
						</div>
						<div class="comments__item comments__item--responce">
							<div class="comments__avatar"></div>
							<div class="comments__item-box">
								<div class="comments__name-box">
									<div class="comments__name">Nevejestvo</div>
									<div class="comments__date">22.02.2100</div>
								</div>
								<div class="comments__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil repellat sit enim voluptas ad id ut nemo similique nobis minus autem impedit praesentium sequi explicabo ipsam, ea pariatur esse, eaque!</div>
								<div class="comments__actions">
									<div class="comments__action comments__action--like">
										{{icon.i('like')}}
										<div class="comments__action-number">23</div>
									</div>
									<div class="comments__action comments__action--dislike">
										{{icon.i('like')}}
										<div class="comments__action-number">32</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="comment-add">
						<div class="comment-add__title">Add Comment</div>
						<div class="comment-add__container">
							<textarea name="" id="" class="comment-add__textarea" placeholder="Write your comment here"></textarea>
							<div class="comment-add__box">
								<div class="comment-add__item">
									<input type="text" class="comment-add__input" placeholder="Your Name" />
								</div>
								<div class="comment-add__item">
									<input type="text" class="comment-add__input" placeholder="Your E-mail" />
								</div>
								<div class="comment-add__item">
									<button class="comment-add__btn">Comment</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<div class="blog">
		<div class="blog__container">

			<div class="blog__random-container">
				<div class="blog__random-item blog__random-item--1">
					<div class="card-random-blog">	</div>
				</div>
				<div class="blog__random-item blog__random-item--2">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--1">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--3">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--1">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--1">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--3">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--1">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--1">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--1">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--1">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--6">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--6">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--6">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--6">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--6">
					<div class="card-random-blog">
					</div>
				</div>
				<div class="blog__random-item blog__random-item--6">
					<div class="card-random-blog">
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

{% endblock %}

