---
title: Home
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- Swiper -->
<div class="swiper-container gallery-top">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
</div>
<div class="swiper-container gallery-thumbs">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
    <div class="swiper-slide" style="background-image:url(http://dummyimage.com/360x16:9/693/fff)"></div>
  </div>
</div>

{% endblock %}

