<div class="navigation">
	<div class="navigation__item js-popup-onhover" data-popup="catalog">
		<a href="/Catalog.html" class="navigation__link">Catalog {{icon.i('arrow')}}</a>
	</div>
	<div class="navigation__item">
		<a href="/Blog.html" class="navigation__link">Blog</a>
	</div>
	<div class="navigation__item">
		<a href="/AboutUs.html" class="navigation__link">About Us</a>
	</div>
	<div class="navigation__item">
		<a href="/contacts.html" class="navigation__link">contacts</a>
	</div>
	<div class="navigation__item">
		<a href="/Delivery.html" class="navigation__link">Delivery</a>
	</div>
</div>
