<div class="help-block">
  <span>?</span>
  <div class="help-block__container f">

      <div class="f fdc">

        <div class="help-block__title">Buttons</div>

        <div class="f">
          <div class="btn">{{icon.i('heart')}} Button</div>
          <div class="btn btn--small">{{icon.i('heart')}}</div>
        </div>

        <div class="f">
          <div class="btn btn--accent">{{icon.i('heart')}} Button</div>
          <div class="btn btn--small btn--accent ">{{icon.i('heart')}}</div>
        </div>

        <div class="f">
          <div class="btn btn--accent btn--disabled">{{icon.i('heart')}} Button</div>
          <div class="btn btn--small btn--disabled">{{icon.i('heart')}}</div>
        </div>

      </div>


      <div class="f fdc">

        <div class="help-block__title">Buttons</div>

        <div class="f">
          <div class="btn">{{icon.i('heart')}} Button</div>
          <div class="btn btn--small">{{icon.i('heart')}}</div>
        </div>

        <div class="f">
          <div class="btn btn--accent">{{icon.i('heart')}} Button</div>
          <div class="btn btn--small btn--accent ">{{icon.i('heart')}}</div>
        </div>

        <div class="f">
          <div class="btn btn--accent btn--disabled">{{icon.i('heart')}} Button</div>
          <div class="btn btn--small btn--disabled">{{icon.i('heart')}}</div>
        </div>

      </div>



  </div>
</div>
