.svg-arrow {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-balance {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-blog {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-cart {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-catalog {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-check {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-clock {
  font-size: 0.84em;
  width: 0.84em;
  height: 1em;
  fill: initial;
}
.svg-cross {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-delivery {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-duck {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-facebook {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-google {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-heart {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-instagram {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-like {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-list-3 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-list-9 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-logo {
  font-size: 1.11em;
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.svg-pencil {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-phone {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-pinterest {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-reload {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-search {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-star {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-youtube {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
