.svg-arrow {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-balance {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-cart {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-clock {
  font-size: 0.84em;
  width: 0.84em;
  height: 1em;
  fill: initial;
}
.svg-duck {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-facebook {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-heart {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-instagram {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-phone {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-pinterest {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-search {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-star {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-youtube {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
